@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {

    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-color: #141C2F;
    font-family: "Space Mono", monospace;
    color: #fff;
}

h4, h1 {
    font: inherit;
}

input, button {
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    
}

input {
    min-width: 255px;
}

input::-ms-clear {
    display: none;
}

.container { 
    margin: 0 auto;
    padding: 0;
    max-width: 730px;
}

/*  */

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
 }

 .theme__icon {
    width: 20px;
    height: 20px;
    fill: #90A4D4;
}

.theme__icon:hover, .theme__icon:focus {
    fill: #FFF;
}

.theme {
    color: #90A4D4;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.theme:hover, .theme:focus {
    color: #fff;
}

 /*  */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: #1F2A48;
    padding: 20px;
    margin: 24px 0;
}


.search-bar__icon {
    background: url(icons/Search\ icon.svg);
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.search-bar__start {
    display: flex;
    align-items: center;
    gap:20px;
}

.search-bar__button {
    background-color: #0079FE;
    color: #fff;
    font: inherit;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
}

.search-bar__button:hover, .search-bar__button:focus {
    background-color: #60ABFF    
}




/*  */

.user-info {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #1F2A48;    
    justify-content: space-between;
    padding: 50px;
    align-items: flex-start;
}

.user-info__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.user-info__card {
    width: 470px;
}



.username {
    font-size: 26px;
    font-weight: 700px;
    margin-bottom: 0;

}

.user-tag {
    color: #0079FE;
}

.user-info__bio {
    color: #B2B6C1;
}

/*  */

.user-statistics {
    background: #141C2F;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px 32px;
    margin: 38px 0;
}

.user-statistics__title {
    font-size: 13px;
    font-style: 400;
    margin: 0;
}

.user-statistics__info {
    font-size: 22px;
    font-style: 700;
    margin: 0;
}


/*  */
.social-media__link {
    color: #fff;
    justify-content: end;
}

.social-media__name_unactive {
    color: #8E94A4;
}

.social-media__logo {
    fill: #fff;
    width: 20px;
}

.social-media__logo_unactive {
    fill: #8E94A4; 
}

.social-media__logo_pin {
    width: 14px;
}

.social-media {
    display: flex;
    
    
}

.social-media__column {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 16px;
}

.social-media__link,
.social-media__link_unactive {
    margin-right: 30px;
    gap: 12px;
}


@media (max-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 375px) {


    input {
        min-width: 188px;
    }

    body {
        font-size: 13px;
    }

    .container {
        max-width: 343px;
    }

    .logo {
        font-size: 26px;
    }

    .search-bar {
        padding: 8px 12px;
        margin: 32px 0;
    }

    .search-bar__start {
        gap: 12px;
    }

    .search-bar__button {
        padding: 12px 20px;
        font-size: 16px;
    }

    .user-info {
        padding: 20px;

    }

    .user-info__card {
        align-items: center;
    }

    .user-picture {
        width: 70px;
        height: 70px;
    }

    .user-info__flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-statistics {
        width: 295px;
        flex-direction: column;
        padding: 12px 12px;
    }

    .user-statistics__column {
        margin-bottom: 30px;
    }

    .social-media {
        flex-direction: column;
    }

    .social-media__link,
    .social-media__link_unactive {
        margin-bottom: 10px;
    }

    
}

