@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');





body {
  font-family: "Red Hat Text", sans-serif;
  color: #260F08;
  background: #FCF8F6;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1216px;
}

.shop {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

/* shop */

.header {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 40px;
}

.shop__cards {
    display: flex;
    max-width: 800px;
}

.card__subtitle {
    color: #87635A;
    font-size: 14px;
    font-weight: 400;
}

.title__card {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

.card__price {
    color: #C73B0F;
    font-size: 16px;
    font-weight: 600;
}

.card {
    width: 250px;
    height: 347px;
    padding: 0 32px 24px 0;
}

.image {
    max-width: 250px;
    position: relative;
    margin-bottom: 40px;

}

.image__food {
    border-radius: 8px;
    width: 250px;
    height: 240px;
    object-fit: cover;
}

.image-button  {
    width: 160px;
    background-color: #fff;
    border-radius:  956px;
    border-style: solid;
    border-width: 1px;
    border-color: #AD8A85;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image-button:hover {
    color:#C73B0F;
    transition: 0.5s;
}

.image-button__icon {
    width: 20px;
    height: 20px;
    background: url(img/shopping-cart.svg);
}

.image-button__title {
    font-size: 14px;
    font-weight: 600;
}



/* cart */

.cart {
    max-width: 384px;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
}

.cart__title {
    color: #C73B0F;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 24px;
}

.cart__info {
    color: #87635A;
    font-size: 14px;
    font-weight: 600;    
}

.cart__items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cake__icon {
    padding: 16px;
}



@media (max-width: 768px) {
    .container {
        max-width: 688px;
    }   

    .shop {
        flex-direction: column;
    }

    .image__food {
        max-width: 214px;
    }

    .card {
    width: 213px;
    height: 319px;
    padding: 0 32px 24px 0;
        margin-bottom: 12px;

    }   

    .cart {
        min-width: 688px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 327px;
    }   

    .shop {
        flex-direction: column;
    }

    .image__food {
        min-width: 327px;
    }

    .shop__cards {
        flex-direction: column;
    }

    .card {
    width: 327px;
    height: 319px;
    margin-bottom: 12px;
    }   

    .cart {
        min-width: 327px;
    }
}
