@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background: #202C36;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

input, button {
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;

}

select {
    border: none;
    position: relative;
    outline: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

/* header */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 24px;
    font-weight: 800;
}

.theme {
    display: flex;
    align-items: center;
    gap: 8px;
}

.theme__icon {
    background: url(/img/sun.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.theme__type {
    font-weight: 600;
    font-size: 16px;
}


/* search and region */

.forms__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px 0;

}

.search {
    width: 480px;
    background: #2B3844;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px 32px;
    gap: 24px;

}

.search__icon {
    fill: #fff;
} 

::placeholder {
    font-size: 14px;
    color: #fff;
}

.region__selection {
    background: #2B3844;
    width: 200px;
    padding: 21px;
    border-radius: 5px;
}

.region__styles {
    background-color: #2B3844;
    color: #fff;
    font: inherit;
}

/* main */

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    
}

.countries__cards {
    background: #2B3844;
    width: 264px;
    height: 336px;
    border-radius: 5px;
    
}

.flag {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.country__info {
    padding: 16px;
}

.info {
    padding-bottom: 8px;
}

.info__title {
    font-weight: 600;
}

.country__name {
    font-weight: 800;
    font-size: 18px;
}


@media (max-width: 768px) {

    .container {
        max-width: 688px;
    }
    
}

@media (max-width: 375px) {

    body {
        font-size: 12px;

    }
    .container {
        max-width: 343px;

    }

    .header__container {
        padding: 30px 0;
    }

    .h1 {
        font-size: 14px;
    }

    .theme__type {
        font-size: inherit;
    }

    .forms__container {
        max-width: 343px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin: 20px 0;

    }
    
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .countries__cards {
        width: 264px;
    }

}