@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background: #202C36;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

input, button {
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;

}

a {
    text-decoration: none;
    color: #445668;
}

select {
    border: none;
    position: relative;
    outline: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}



/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 24px;
    font-weight: 800;
}

.theme {
    display: flex;
    align-items: center;
    gap: 8px;
}

.theme__icon {
    background: url(/img/sun.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.theme__type {
    font-weight: 600;
    font-size: 16px;
}


/* search and region */

.forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px 0;

}

.search {
    width: 480px;
    background: #2B3844;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px 32px;
    gap: 24px;

}

.search__icon {
    fill: #fff;
} 

::placeholder {
    font-size: 14px;
    color: #fff;
}

.region-selection {
    background: #2B3844;
    width: 200px;
    padding: 21px;
    border-radius: 5px;
}

.region-selection__style {
    background-color: #2B3844;
    color: #fff;
    font: inherit;
}

/* main */

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    
}

.countries-cards {
    background: #2B3844;
    width: 264px;
    height: 336px;
    border-radius: 5px;
    
}

.countries-cards__flag {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.countries-cards__column {
    padding: 16px;
}

.countries-cards__info {
    padding-bottom: 8px;
}

.countries-cards__title {
    font-weight: 600;
}

.countries-cards__subtitle {
    font-weight: 200;
}

.countries-cards__name {
    font-weight: 800;
    font-size: 18px;
}

/* country page */

.countries-cards_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countries-cards__flag_page {
    width: 560px;
    height: 401px;
    object-fit: cover;
    border-radius: 10px;
}

.page-button {
    display: flex;
    align-items: center;
    background: #2B3844;
    border-radius: 2px;
    padding: 12px 36px;
    margin: 80px 0;
    cursor: pointer;
    gap: 8px;

}

.page-button__text {
    font-weight: 200;
    font-size: 16px;
    color: #fff;
}

.countries-cards__flex {
    width: 598px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countries-cards__name_page {
    font-size: 32px;
}

.countries-cards__info {
    padding-bottom: 16px;
}

.countries-cards__name_page {
    padding-bottom: 40px;
}

.countries-cards__borders {
    max-width: 600px;
    display: flex;
    margin-top: 50px;
}

.countries-cards__button {
    background: #2B3844;
    border-radius: 2px;
    padding: 8px 28px;
}

.countries-cards__link {
    color: #fff;
    font-weight: 200;
}

@media (max-width: 768px) {

    .container {
        max-width: 688px;
    }
    
    .countries-cards_page {
        display: flex;
        flex-direction: column;
    }

    .countries-cards__flag_page {
        width: 598px;
        margin-bottom: 50px;
    }
    
    .countries-cards__name_page {
    padding-bottom: 20px;
}
}

@media (max-width: 375px) {

    body {
        font-size: 12px;

    }
    .container {
        max-width: 343px;

    }

    .header {
        padding: 30px 0;
    }

    .h1 {
        font-size: 14px;
    }

    .theme__type {
        font-size: inherit;
    }

    .forms {
        max-width: 343px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin: 20px 0;

    }
    
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .countries-cards {
        width: 264px;
    }

    .countries-cards_page {
        display: flex;
        flex-direction: column;
    }

    .countries-cards__flex {
        width: 320px;
        display: flex;
        flex-direction: column;
    }   

    .countries-cards__flag_page {
        width: 320px;
        height: 230px;
        margin-bottom: 50px;
    }
    
    .countries-cards__name_page {
    padding-bottom: 20px;
    }

}